# Exercise 6: Weather anomalies (*10 points*)

The aim of this exercise is to analyze historical weather data. In Problem 1 you read in a tricky data file and explore it's contents. In problem 2, you will convert and aggregate the data from daily temperatures in Fahrenheit, to monthly average temperatures in Celsius. In Problem 3, you will finally analyze weather anomalies by comparing monthly average temperatures to a long-term average.

**Notice**: Closely follow the instructions! Please use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the given variable naming. Also, please do not copy/paste existing code cells. You can add cells if you like, but copying and pasting can also cause the automatic tests to fail.


## Problem 1 - Reading in a tricky data file (*2 points*)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Pay attention to the input data structure and no data values.

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` using Pandas
    - Skipping the second row of the datafile that contains `----------` characters that don't belong to the data
    - Convert the no-data values (`-9999`) into `NaN` 
- Calculating basic statistics from the data
- Including comments that explain what most lines in the code do

### Part 1 (*1 point*)

You should start by reading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values (`-9999`) into `NaN`

In [121]:
# Calling the pandas package as pd
import pandas as pd

# Defining relative path to the file
fp = r'data/1091402.txt'

# Read data using varying amount of spaces as separator and specifying -9999 characters as NoData values
# and skipping the second row
data = pd.read_csv(fp, delim_whitespace=True, na_values=['-9999'], skiprows=[1])

In [3]:
# Check that the dataframe looks ok:
data.head()

             STATION  ELEVATION  LATITUDE  LONGITUDE  ...  PRCP  TAVG  TMAX  TMIN
0  GHCND:FIE00142080         51   60.3269    24.9603  ...  0.31  37.0  39.0  34.0
1  GHCND:FIE00142080         51   60.3269    24.9603  ...   NaN  35.0  37.0  34.0
2  GHCND:FIE00142080         51   60.3269    24.9603  ...  0.14  33.0  36.0   NaN
3  GHCND:FIE00142080         51   60.3269    24.9603  ...  0.05  29.0  30.0  25.0
4  GHCND:FIE00142080         51   60.3269    24.9603  ...  0.06  27.0  30.0  25.0

[5 rows x 9 columns]

In [4]:
# Check the last rows of the data (there should be some NaN values)
data.tail()

                 STATION  ELEVATION  LATITUDE  ...  TAVG  TMAX  TMIN
23711  GHCND:FIE00142080         51   60.3269  ...  47.0  49.0  44.0
23712  GHCND:FIE00142080         51   60.3269  ...  47.0  48.0  45.0
23713  GHCND:FIE00142080         51   60.3269  ...  47.0  49.0  46.0
23714  GHCND:FIE00142080         51   60.3269  ...  47.0   NaN  44.0
23715  GHCND:FIE00142080         51   60.3269  ...  52.0  56.0   NaN

[5 rows x 9 columns]

### Part 2 (*1 point*)

In this section, you will calculate simple statistics based on the input data:

- Calculate how many no-data (NaN) values there are in the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`.

In [5]:
# Calculating NaN values in the TAVG column
tavg_nodata_count = data['TAVG'].isna().sum()

In [6]:
# Print out the solution:
print('Number of no-data values in column "TAVG":',tavg_nodata_count)

Number of no-data values in column "TAVG": 3308

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [7]:
# Counting NaN values in TMIN column
tmin_nodata_count = data['TMIN'].isna().sum()

In [8]:
# Print out the solution:
print('Number of no-data values in column "TMIN":', tmin_nodata_count)

Number of no-data values in column "TMIN": 365

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [9]:
data.columns

Index(['STATION', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'DATE', 'PRCP', 'TAVG',
       'TMAX', 'TMIN'],
      dtype='object')

In [10]:
# Counting the total number of days covered by this data file
day_count = data['DATE'].nunique()

In [11]:
# Print out the solution:
print("Number of days:", day_count)

Number of days: 23716

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [12]:
# Finding the date of the oldest observation
first_obs = data['DATE'].min()

In [13]:
# Print out the solution:
print('Date of the first observation:',first_obs)

Date of the first observation: 19520101

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [14]:
# Finding the date of the newest observation
last_obs = data['DATE'].max()

In [15]:
# Print out the solution:
print('Date of the last observation:', last_obs)

Date of the last observation: 20171004

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [16]:
# Average temperature for the whole data file
avg_temp = data['TAVG'].mean()

In [17]:
# Print out the solution:
print('Average temperature (F) for the whole dataset:', round(avg_temp, 2))

Average temperature (F) for the whole dataset: 41.32

- Find the average `TMAX` temperature over the Summer of 1969 (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [18]:
# Average TMAX over the Summer of 1969 (May, June, July, and August)
avg_temp_1969 = data['TMAX'][data['DATE'].between(19690501,19690831)].mean()

In [19]:
# This test print should print a number
print('Average temperature (F) for the Summer of 69:', round(avg_temp_1969, 2))

Average temperature (F) for the Summer of 69: 67.82

## Problem 2 - Calculating monthly average temperatures (*3 points*)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily Fahrenheit values we have in the data file. You can continue working with the same DataFrame that you used in Problem 1.

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures in degrees Celsius for the each month in the dataset (i.e., for each month of each year)
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
    - `monthly_data` should contain a new column called `temp_celsius` the monthly average temperatures in Celsius
    - Convert the `TAVG` values in Fahrenheit into Celsius and store the output in the `temp_celsius`
- Including comments that explain what most lines in the code do
- Uploading your notebook to your GitHub repository for this week's exercise

*Hint: you can start by creating a new column with a label for each month and then continue grouping the data based on this information.*

In [122]:
data['DATE'] = pd.to_datetime(data['DATE'], format= '%Y%m%d', exact= False)
data['YEAR'] = data['DATE'].dt.year
data['month'] = data['DATE'].dt.month

print(data.head())

             STATION  ELEVATION  LATITUDE  LONGITUDE  ...  TMAX  TMIN  YEAR  month
0  GHCND:FIE00142080         51   60.3269    24.9603  ...  39.0  34.0  1952      1
1  GHCND:FIE00142080         51   60.3269    24.9603  ...  37.0  34.0  1952      1
2  GHCND:FIE00142080         51   60.3269    24.9603  ...  36.0   NaN  1952      1
3  GHCND:FIE00142080         51   60.3269    24.9603  ...  30.0  25.0  1952      1
4  GHCND:FIE00142080         51   60.3269    24.9603  ...  30.0  25.0  1952      1

[5 rows x 11 columns]

In [42]:
def fahr_to_celsius(temp_fahrenheit):
    """Function to convert Fahrenheit temperature into Celsius.

    Parameters
    ----------

    temp_fahrenheit: int | float
        Input temperature in Fahrenheit (should be a number)
        
    Returns
    -------
    
    Temperature in Celsius (float)
    """

    # Convert the Fahrenheit into Celsius
    converted_temp = (temp_fahrenheit - 32) / 1.8
    
    return converted_temp

In [128]:
monthly_data = data.groupby(['YEAR','month']).mean()
print(monthly_data.head())

monthly_data['temp_celsius'] = fahr_to_celsius(monthly_data['TAVG'])

            ELEVATION  LATITUDE  LONGITUDE  ...       TAVG       TMAX       TMIN
YEAR month                                  ...
1952 1             51   60.3269    24.9603  ...  29.478261  33.263158  27.545455
     2             51   60.3269    24.9603  ...  24.800000  29.142857  17.761905
     3             51   60.3269    24.9603  ...  13.807692  26.045455  -0.625000
     4             51   60.3269    24.9603  ...  39.607143  49.920000  29.884615
     5             51   60.3269    24.9603  ...  44.666667  53.304348  33.916667

[5 rows x 7 columns]

In [110]:
# This test print should print the length of variable monthly_data
print(len(monthly_data))

790

In [40]:
# This test print should print the column names of monthly_data
print(monthly_data.columns.values)

['ELEVATION' 'LATITUDE' 'LONGITUDE' 'DATE' 'PRCP' 'TAVG' 'TMAX' 'TMIN']

In [111]:
# This test print should print the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

5.097114347669993

In [112]:
# This test print should print the median of temp_celsius
print(round(monthly_data['temp_celsius'].median(), 2))

4.73

## Problem 3 - Calculating temperature anomalies (*5 points*)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to the observation period between 1952-1980. You can continue working with the same data that you used in Problems 1 and 2.

**Your score on this problem will be based on following criteria:**

### Part 1:

- Calculating ***the mean temperature for each month over the period from 1952 up to and including 1980*** in a new DataFrame called `reference_temps`
    - You should end up with 12 values, 1 mean temperature for each month during the time period (see example table below).
    - The columns in the new DataFrame should be `month` and `ref_temp`
    
Your `reference_temps` dataframe should have the following structure: 1 value for each month of the year (12 total) and the values represent and average in the observation period 1952-1980. The `ref_temp` temperatures should be in degrees Celsius:
   
| month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

### Part 2:

- Calculating **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - In order to achieve this you need to make **a table join** (see [hints for this week](https://geo-python.github.io/site/lessons/L5/exercise-6.html)) between `monthly_data` and `ref_temps` based on the month.
    - Temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ref_temp` column in`reference_temps`) 
    - Store the result in a new column `"diff"` 
    
As the output of the table join and the calculation, you should have three new columns in the `monthly_data` DataFrame: 
1. `diff`: The temperature anomaly, i.e. the difference between the temperature for a given month (e.g., February 1960) and the average during the reference period (e.g., for February 1952-1980), 
2. `month`: The month for that row of observations
3. `ref_temp`: The monthly reference temperature

You should finally report which month had the greatest weather anomaly during the observed time period.

Remember to include comments in your code and commit your changes using git.

In [124]:
reference_temps = data.groupby('month').mean()
reference_temps = pd.DataFrame(reference_temps['TAVG'])

#print(reference_temps)
new_names = {'month': 'month', 'TAVG': 'ref_temp'}
reference_temps = reference_temps.rename(columns=new_names)
reference_temps.columns
reference_temps['ref_temp'] = fahr_to_celsius(reference_temps['ref_temp'])

reference_temps.head()

        ref_temp
month
1      -5.356043
2      -5.889872
3      -2.409216
4       3.509444
5      10.202918

In [119]:
# Check the monthly data:
monthly_data.head()

            ELEVATION  LATITUDE  LONGITUDE  ...       TMAX       TMIN  temp_celsius
YEAR month                                  ...
1952 1             51   60.3269    24.9603  ...  33.263158  27.545455     -1.400966
     2             51   60.3269    24.9603  ...  29.142857  17.761905     -4.000000
     3             51   60.3269    24.9603  ...  26.045455  -0.625000    -10.106838
     4             51   60.3269    24.9603  ...  49.920000  29.884615      4.226190
     5             51   60.3269    24.9603  ...  53.304348  33.916667      7.037037

[5 rows x 8 columns]

In [129]:
monthly_data = monthly_data.merge(reference_temps, on = 'month', how = 'outer' )

monthly_data['diff'] = abs(monthly_data['temp_celsius']-monthly_data['ref_temp'])

print(monthly_data)

       ELEVATION  LATITUDE  LONGITUDE  ...  temp_celsius  ref_temp      diff
month                                  ...
1             51   60.3269    24.9603  ...     -1.400966 -5.356043  3.955077
1             51   60.3269    24.9603  ...     -5.396825 -5.356043  0.040782
1             51   60.3269    24.9603  ...     -7.072650 -5.356043  1.716606
1             51   60.3269    24.9603  ...     -5.473251 -5.356043  0.117208
1             51   60.3269    24.9603  ...     -8.133333 -5.356043  2.777290
...          ...       ...        ...  ...           ...       ...       ...
12            51   60.3269    24.9603  ...     -6.630824 -3.203887  3.426938
12            51   60.3269    24.9603  ...      1.362007 -3.203887  4.565894
12            51   60.3269    24.9603  ...     -1.146953 -3.203887  2.056933
12            51   60.3269    24.9603  ...      2.204301 -3.203887  5.408188
12            51   60.3269    24.9603  ...     -0.788530 -3.203887  2.415356

[790 rows x 10 columns]

In [130]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ref_temp", "diff"]].describe()

       temp_celsius    ref_temp        diff
count    682.000000  790.000000  682.000000
mean       5.097114    5.110619    1.920212
std        8.483949    8.093642    1.618119
min      -17.974910   -5.889872    0.009211
25%       -1.685185   -2.409216    0.728390
50%        4.726105    5.436693    1.605779
75%       12.870370   13.662679    2.679037
max       22.329749   17.283419   12.618867

Remember also to find out which month had the greatest weather anomaly during the observed time period in comparison with the reference data (create a script that prints out the answer to the screen):

In [154]:
max = monthly_data.loc[monthly_data['diff'] == monthly_data['diff'].max()]
print(max)

print('The month with the highest temperature anomaly is January')

       ELEVATION  LATITUDE  LONGITUDE  ...  temp_celsius  ref_temp       diff
month                                  ...
1             51   60.3269    24.9603  ...     -17.97491 -5.356043  12.618867

[1 rows x 10 columns]
The month with the highest temperature anomaly is January

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)